.TimeSelector {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 10px;
}

.TimeContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(8, minmax(max-content, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 35px;
  margin-right: 35px;
}

.NoSlotsAvailable {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: "GothamBold";
}

.NoSlotsAvailable .Icon {
  color: #7f67ea;
  font-size: 35px;
}
